.Portfolio_img{
    width: 100%;
    height: 300px;
    border-radius: 8px;
}
.container1{
    width: calc(100vw - 30vw);
    margin: auto;
    background-color: white;
    padding: 0 10px;
}
.live_preview_button{
    display: inline-block;
    padding: 8px;
    background-color: aliceblue;
    margin: 10px 0 !important;
}
.Portfolio_img_box_main_box{
    padding: 10px;
    border: 1px solid rgb(212, 212, 212);
    background-color: rgb(241, 241, 241);;
}
.portfolio_item_details{
    background-color: white;
    padding: 20px 0;
}
.teamplate_pricing{
    display: flex;
    justify-content: space-between;
}
.contact_us_button{
    display: inline-block;
    padding: 10px 0;
    width: 80%;
    margin: 10px 0;
    color: rgb(77, 72, 72);
    background-color: aliceblue;
    border: 1px solid rgb(189, 178, 178);
}
.fa-check-square{
    color: rgb(0, 173, 38);
}
table{
    font-size: small !important;
}
th ,td{
    font-size: 14px !important;
}
.Portfolio_img_box{
    position: relative;
}
.Portfolio_img_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 50px;
    color: white;
    visibility: hidden;
}
.Portfolio_img_icon:hover{
    color: rgb(241, 241, 241);
}
.Portfolio_img_box:hover .Portfolio_img_icon{
    visibility: visible;
}

.single_portfolio_img{
    width: 100%;

}








/* media query for mobile device  */
@media screen and (max-width: 480px) {
    .container1{
        width: 98%;
    }
    th ,td{
        font-size: 12px !important;
    }
}