
    /* contuct section style start  */
.contuct_section{
  padding: 8rem 0 8rem;
  min-height: 100vh;
}


.contuct_section .contuct_item{
  padding: 1rem;
  border-radius: 1rem;  
}
.contuct_section .contuct_item:hover{
  box-shadow: var(--inner-shadow);
  transition: all 0.7s ease;
  
}
input:focus ,textarea:focus{
  border: none;
  outline: none;
}

.contuct_section .contuct_item_inner{
  padding: 3rem 1.5rem;
  border-radius: 1rem;
  text-align: center;
  width: 100%;
  height: 100%;
}

.contuct_section .contuct_item_inner:hover{
  /* background-color: #90def0; */
  transition: all 2s ease;
  text-decoration: none;
}
.btn_1{
  margin-top: 30px;
  padding: 10px 25px;
  font-size: 1.6rem;
  font-weight: 500;
  color:rgb(10, 73, 245);
  background-color: transparent;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease;
  display: inline-block;
  border: none;

}

.btn_1::after{
  border-radius: 30px;
}


a:hover{
  text-decoration: none;
}

.contuct_section .contuct_item_inner i{
  width: 6rem;
  height: 6rem;
  font-size:4rem;
  text-align: center;
  color: rgb(10, 73, 245);
  border-radius: 50%;
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto;
  position: relative;
}

.contuct_section .contuct_item_inner span{
  display: block;
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--text-black-700);
  margin: 0.5rem ;
  text-transform: capitalize;
}

.contuct_section .contuct_item_inner p{
  font-size: 1.6rem;
  color: var(--text-black-600);
  line-height: 1.6rem;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  word-break: break-all;
}

.contuct_section .contuct_form{
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 5rem;
}

.contuct_section .w_50{
  padding: 0 1.5rem;
  flex: 0 0 50%;
  max-width: 50%;
}

.contuct_section .input_group{
  margin: 0 0 2.5rem;
  transition: all 0.3s ease;
  border-radius: 3rem;
}

.contuct_section .input_group::after{
  border-radius: 3rem;
}

.contuct_section .input_group .input_controler{
  width: 100%;
  height: 4.5rem;
  display: block;
  border-radius: 3rem;
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
  padding: 0 1.5rem;
  color: var(--text-black-700);
}

.contuct_section .input_group textarea.input_controler{
  height: 18.4rem;
  padding-top: 1.5rem;
  resize: none;

}
.contuct_section .submite_btn{
  flex: 0 0 100%;
  max-width: 100%;
  text-align: right;
  padding: 0 1.5rem;
}
/* contuct section style end  */




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .contuct_section .contuct_item_inner{
    /* padding: 3rem 1.5rem; */
    border-radius: 1rem;
    text-align: center;
    width: 100%;
    height: 170px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}